.projetos{
    margin: 0;
    gap: .3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.projetos .titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    margin-bottom: .5rem; 
    padding: 1px;  
}

.projetos .titulo::before{
    content: " ";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icon/icons8-github-100.png); 
    margin-right: 1rem;
    
    
}
.projetos li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0 ;
}

 li a:hover{
    text-decoration: underline;
    color: #e2e2e2;
}